.container{
    display: grid;
    grid-template-columns:100px 100px 100px;
    grid-column-gap: 200px;
   }
.grid-col1{
     height: 140px;
     list-style-type: none;
     margin: 10px;
     background-color:gray;
     width: 200px;
}
.grid-col1-row a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 8px 0 8px 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
             
.grid-col1-row a:hover{
        background-color: #555;
        color:white;
}
.grid-col1-row a.active{
    background-color: #4CAF50;
    color: white;
}

.container2{
    display: grid;
    grid-template-rows:100px 100px;
    grid-row-gap: 0;
}
.horizontal1{
    height: 46px;
    width: 400px;
    margin: 10px;
    background-color: #333;
}
.row1{
    display: inline;
}

.row1 a{
    text-decoration: none; 
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.row1 a:hover {
    background-color: #111;
}
.row1 a.active {
    background-color: #4CAF50;
}
.horizontal2{
    background-color: #f3f3f3;
    height: 46px;
    width: 400px;
    margin: 10px;
    border: 1px solid #e7e7e7;
}
.row2{
    display: inline;
        }
.row2 a{
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
.row2 a:hover {
    background-color: #ddd;
}
.row2 a.active {
    color: white;
    background-color: rgb(81, 118, 219);
}